@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* shared style */
.btn-primary {
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 24px;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  cursor: pointer;
  transition: 0.5s;
}

i {
  margin-left: 12px;
}

button:hover {
  background-color: #008080;
}

.hide {
  display: none;
}

/* start navbar section */
nav {
  max-width: 1200px;
  margin: 50px auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-menu {
  display: flex;
  gap: 24px;
  :hover {
    color: #008080;
  }
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #3a3a3a;
}

nav h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
  cursor: pointer;
}
/* end navbar section */

/* start hero section */
.hero-content {
  background-image: url("../images/Circle-design.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 70px;
  max-width: 1188px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-details h1 {
  font-size: 3.25rem;
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.content-details p {
  font-size: 1rem;
  font-weight: 400;
  color: #3a3a3a;
  margin-bottom: 16px;
}
/* end hero section */

/* start logo section */

.business-logo {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}
/* end logo section */

/* start cards section */
.card-container {
  justify-items: center;
  margin: 0 auto;
  width: 1047px;
}

.card-container h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 30px;
}

.card-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}

.box {
  width: 308px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  gap: 30px;
  cursor: pointer;
}

.box h4 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: #000000;
}

.box .price {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0px;
}

.box p {
  font-size: 0.87rem;
  font-weight: bold;
  color: #787885;
  margin-bottom: 20px;
}

.box .item-img {
  width: 100%;
}

#more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  cursor: pointer;
  :hover {
    color: #008080;
  }
}

#more p {
  font-size: 1rem;
  font-weight: bold;
  color: #e02c6d;
}

/* end cards section */

/* start feature section */
.feature {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feature-details {
  width: 610px;
}

.feature-details h1 {
  font-size: 2.37rem;
  font-weight: bold;
  color: #0a0826;
  margin-bottom: 16px;
}

.feature-details p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 24px;
  color: #6c6c6c;
  margin-bottom: 16px;
}

/* .feature img{
  max-width: 100%;
} */

.btn-second {
  border-radius: 0px;
}
/* end feature section */

/* start footer section */
footer {
  background-color: #0a0826;
  color: #ffffff;
  text-align: center;
}

.footer-container {
  /* width: 262px; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.footer-content {
  width: 275px;
  margin: 0 auto;
}

.footer-content h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.footer-content p {
  font-size: 0.87rem;
  font-weight: bold;
  color: #c3c4cc;
  margin-bottom: 3px;
}

.footer-content img {
  margin-top: 17px;
  margin-right: 16px;
  cursor: pointer;
}
/* end footer section */

/* media query section */
@media screen and (max-width: 576px) {
  nav {
    padding: 10px;
    width: 75%;
    flex-direction: column;
    margin-top: 50px;
  }

  .nav-menu {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    padding: 0px 50px;
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
    background-position:
      0px -50px,
      center;
    background-size: contain;
    padding-top: 0px;
  }

  .content-image img {
    width: 75%;
    padding-top: 0px;
    margin-bottom: 10px;
  }
  .content-details h1 {
    font-size: 1.75rem;
    margin-top: 40px;
  }

  .content-details br {
    display: none;
  }

  .content-details p {
    font-size: 0.87rem;
  }

  .business-logo {
    width: 75%;
    flex-wrap: wrap;
    gap: 5px;
    margin: 30px auto;
  }

  .ecommerce-logo img {
    width: 20%;
  }

  .card-container {
    flex-direction: column;
    width: 100%;
  }

  .box {
    margin: 0 auto;
  }

  .feature {
    flex-direction: column-reverse;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }

  .feature-details {
    width: 100%;
  }

  .feature img {
    width: 100%;
    margin-top: 20px;
  }
}
